{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />{% endblock %}

{% block breadcrumbs %}
{% if not is_popup %}
<div class="breadcrumbs">
     <a href="{% url 'admin:index' %}">{% trans "Admin." %}</a> &rsaquo;
     <a href="{% url 'admin:app_list' "aoml" %}">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="{% url 'admin:aoml_newsletter_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {{ title }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div id="content-main">
  <!-- Daily Statistics -->
  <div class="module" id="daily_stats">
    <table summary="{% trans "Daily statistics" %}">
      <caption><a href="#" class="section">{% trans "Daily statistics" %}</a></caption>
      <tr>
        <th scope="row">{% trans "Day" %}</th>
	      <th>{% trans "Openings" %}</th>
        <th>{% trans "Clicks" %}</th>
      </tr>
      {% for d in daily_stats %}
      <tr>
        <th scope="row">{{ d.label }}</th>
        <td>{{ d.openings }}</td>
        <td>{{ d.clicks }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  
  <!-- Receptions -->
  <div class="module" id="reception">
    <table summary="{% trans "Broadcasting statistics" %}">
      <caption><a href="#" class="section">{% trans "Broadcasting statistics" %}</a></caption>
      <tr>
        <th scope="row">{% trans "Total openings" %}</th>
	<td>&nbsp;</td>
        <td>{{ stats.total_openings }}</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Openings on site" %}</th>
        <td>{{ stats.total_on_site_openings }}</td>
        <td>{{ stats.unique_on_site_openings }}</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Total openings unique" %}</th>
        <td>{{ stats.unique_openings }}</td>
	<td>{{ stats.unique_openings_percent|floatformat:2 }}%</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Unknow delivery" %}</th>
        <td>{{ stats.unknow_openings }}</td>
	<td>{{ stats.unknow_openings_percent|floatformat:2 }}%</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Unsubscriptions" %}</th>
        <td>{{ stats.total_unsubscriptions }}</td>
	<td>{{ stats.total_unsubscriptions_percent|floatformat:2 }}%</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Openings average" %}</th>
        <td>&nbsp;</td>
        <td>{{ stats.opening_average|floatformat:2 }}</td>
      </tr>
    </table>
  </div>
  <!-- Links -->
  <div class="module" id="reception">
    <table summary="{% trans "Links statistics" %}">
      <caption><a href="#" class="section">{% trans "Links statistics" %}</a></caption>
      <tr>
        <th scope="row">{% trans "Total clicked links" %}</th>
        <td>{{ stats.total_clicked_links }}</td>
        <td>{{ stats.total_clicked_links_percent|floatformat:2 }}%</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Total clicked links unique" %}</th>
        <td>{{ stats.unique_clicked_links }}</td>
        <td>{{ stats.unique_clicked_links_percent|floatformat:2 }}%</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Clicked links by openings" %}</th>
	<td>&nbsp;</td>
        <td>{{ stats.clicked_links_by_openings|floatformat:2 }}%</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Clicked links average" %}</th>
	<td>&nbsp;</td>
        <td>{{ stats.clicked_links_average|floatformat:2 }}</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="report-module">
      <h2>{% trans "Report" %}</h2>
      <h3>
	<a href="{% url 'newsletter_newsletter_report' object.slug %}">{% trans "Download CSV report" %}</a>
      </h3>
      <p></p>
    </div>
    <div class="module" id="general-informations-module">
        <h2>{% trans "Informations" %}</h2>
	<h3>{% trans "Recipients" %}</h3>
	<p>{{ stats.mails_to_send }} <a href="{% url 'admin:aoml_mailinglist_change' object.mailing_list.pk %}">{% trans "View" %}</a></p>
        <h3>{% trans "Status" %}</h3>
	<p>{{ object.get_status_display }} {% if stats.remaining_mails %}<span class="mini quiet">(-{{ stats.remaining_mails }})</span>{% endif %}</p>
	<h3>{% trans "Sending date" %}</h3>
	<p>{{ object.sending_date|date:"d M Y H:i" }}</p>
	{% if stats.tests_sent %}
	<h3>{% trans "Tests sent" %}</h3>
	<p>{{ stats.tests_sent }}</p>
	{% endif %}
    </div>
    <div class="module" id="top-links-module">
	<h2>{% trans "Top Links" %}</h2>
	<ul class="actionlist">
	{% for top_link in stats.top_links %}
	<li><a href="{{ top_link.link.url }}" title="{{ top_link.link.title }}" target="blank">{{ top_link.link.title|slice:":23" }}</a>
	  <span class="quiet">({{ top_link.total_clicks }})</span>
	  <span class="mini quiet">({{ top_link.unique_clicks }})</span>
	</li>
	{% empty %}
	<li>{% trans "No Top Links yet." %}</li>
	{% endfor %}
	</ul>
    </div>
</div>
{% endblock %}
